:root {
    --background-color: #789DBC; /* Dark pastel background */
    --text-color: #FEF9F2; /* Light text color for contrast */
    --letter-bg-color: #5a5a5a; /* Darker pastel for letters */
    --letter-hover-color: #a3c4f3; /* Light pastel hover color */
    --button-bg-color: #5a5a5a; /* Button color in dark mode */
    --button-hover-color: #C9E9D2; /* Button hover color in dark mode */
}

body.light-mode {
    --background-color: #FEF9F2; /* Light background */
    --text-color: #000000; /* Default text color */
    --letter-bg-color: #FFE3E3; /* Light pastel for letters */
    --letter-hover-color: #C9E9D2; /* Light pastel hover color */
    --button-bg-color: #789DBC; /* Button color */
    --button-hover-color: #C9E9D2; /* Button hover color */
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    background-color: var(--background-color);
    color: var(--text-color);
}

#game-area {
    margin: 0 auto;
}

.word {
    font-size: 2em;
    margin: 20px;
}

.letter {
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 1.5em;
    border: 1px solid var(--text-color);
    margin: 5px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    background-color: var(--letter-bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.letter:hover {
    background-color: var(--letter-hover-color);
}

button {
    padding: 10px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 25px;
    background-color: var(--button-bg-color);
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--button-hover-color);
}

.message {
    margin-top: 20px;
    font-size: 1.5em;
    color: var(--text-color);
}

.success {
    color: green;
    font-weight: bold;
}