body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

#game-area {
    margin: 0 auto;
}

.word {
    font-size: 2em;
    margin: 20px;
}

.letter {
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 1.5em;
    border: 1px solid #000;
    margin: 5px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    background-color: #f0f0f0;
    transition: background-color 0.3s;
}

.letter:hover {
    background-color: #cce7ff;
}

.input {
    padding: 10px;
    font-size: 1.5em;
}

.button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }

button:hover {
    background-color: #0056b3;
}

.message {
    margin-top: 20px;
    font-size: 1.5em;
    color: green;
}

.success {
    color: green;
    font-weight: bold;
}